.card {
  border-radius: 0.25rem;
  padding: 1rem;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .close {
      aspect-ratio: 1;
      background-color: transparent;
      border-radius: 100%;
      border: 2px solid #ccc;
      font-weight: 900;
    }
  }
}

.blur-backdrop::backdrop {
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.5);
}

.dropdown {
  --menu-pl: 16px;

  inset-area: bottom span-right;
  margin: var(--menu-spacer) 0 0 0;
  min-width: 150px;

  list-style: none;
  padding: 0;
  background-color: white;

  li {
    display: flex;
    margin: 0;
    min-height: 32px;

    &:not(:last-child) {
      border-bottom: 1px solid #aaa;
    }

    &:not(:has(button)) {
      padding-left: var(--menu-pl);
    }

    > button:first-child {
      flex: 1;
      border: none;
      background-color: transparent;
      text-align: left;
      padding-left: var(--menu-pl);
    }
  }
}

.notification {
  &.success {
    background-color: #d4edda;
    color: #155724;

    border-radius: var(--bezel);
    inset: auto 1rem 1rem auto;
    padding: 0.5em 1em;
  }
}

@supports (position-anchor: --anchor) {
  .tooltip {
    inset-area: top;
    margin: 0;

    background-color: #333;
    color: white;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    border: none;
  }
}

@supports not (position-anchor: --anchor) {
  .tooltip {
    color: transparent;

    &::before {
      content: "🛑 Your browser does not support the `position-anchor` property.";
      color: red;
    }

    &::backdrop {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.tooltip-anchor {
  border-bottom: 2px dashed purple;
}
